{% extends "owner/template/base.html" %}

{% block title %}Manage Profile{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2>Add Batch</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="product_id">Product</label>
                <select name="product_id" class="form-control" required>
                    <option value="">Select Product</option>
                    {% for product in products %}
                    <option value="{{ product.product_id }}">{{ product.product_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="batch_number">Batch Number</label>
                <input type="text" name="batch_number" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="batch_quantity">Batch Quantity</label>
                <input type="number" name="batch_quantity" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="batch_expiry_date">Batch Expiry Date</label>
                <input type="date" name="batch_expiry_date" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-success">Add Batch</button>
        </form>
    </div>
{% endblock %}