{% extends "owner/template/base.html" %}

{% block title %}Batch List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Add Supplier</h2>
    <form method="post">
        {% csrf_token %}
        
        <label for="suppliers_name">Supplier Name:</label>
        <input type="text" name="suppliers_name" required>
        <br><br>

        <label for="suppliers_contact">Contact:</label>
        <input type="text" name="suppliers_contact" required>
        <br><br>

        <label for="comp_id">Select Company:</label>
        <select name="comp_id">
            {% for company in companies %}
                <option value="{{ company.comp_id }}">{{ company.comp_name }}</option>
            {% endfor %}
        </select>
        <br><br>

        <button type="submit" class="btn btn-success">Save</button>
    </form>

    <a href="{% url 'supplier_list' %}">Back to Supplier List</a>
{% endblock %}